@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif !important;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.center-text-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.center-text-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.label-right {
  padding-left: 140px;
}

.submit-button {
  display: flex;
  justify-content: center;
  text-align: center;
}

.full-calendar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(2.5);
}

@media screen and (max-width: 1200px) {
  .label-right {
    padding-left: 0;
  }

  .full-calendar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1.75);
  }
}

@media screen and (max-width: 700px) {
  .full-calendar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1.25);
  }
}

@media screen and (max-width: 400px) {
  .full-calendar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

