@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.center-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}